.category {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.category-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 662px;
  height: 21px;

  background-color: $background-color;

  &__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $dark-1-color;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &:hover,
    &--active {
      color: $red-color;
      border-color: $red-color;
    }
  }

  @include respond-to(mobile) {
    overflow-x: scroll;
    padding: 5px 16px;
    white-space: nowrap;
  }
}
